name: SonarCloud Code Quality

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout your code
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Step 2: Set up Java
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"

      # Step 3: Run SonarCloud scan with debug
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: PersonalFinanceTracker
          args: >
            -Dsonar.organization=richardanto
            -Dsonar.projectKey=RichardANTO_Finance-Tracker-Java
            -X
